* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}


.box {
    height: 360px;
    width: 360px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.square {
    font-size: 20px;
    height: 60px;
    width: 60px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green {
    background-color: lightgreen;
}

.yellow {
    background-color: rgb(255, 255, 149);
}

#template {
    display: none;
}
